@model IEnumerable<BlogApplication.Post>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Detail";
}

<h2>@ViewData["BlogName"]</h2>
<strong>@ViewData["AuthorName"]</strong>

@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
    <h2>@Html.ActionLink("View", "Details", "Posts", new { id = item.Id }, null)</h2>
    <p>@Html.DisplayFor(modelItem => item.CreatedAt)</p>
    <p>@Html.DisplayFor(modelItem => item.Content)</p>

    <!-- Only show edit and delete links for post to logged in blog author. -->
    if (Request.IsAuthenticated && (HttpContext.Current.User.Identity.Name == @ViewData["AuthorEmail"].ToString()))
    {
        <p>Edit</p>
        <p>Delete</p>

    }
}

