@model IEnumerable<BlogApplication.Post>

@{
    ViewBag.Title = "Detail";
}

<h2>@ViewData["BlogName"]</h2>
<strong>@ViewData["AuthorName"]</strong>

@foreach (var item in Model)
{
    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
    <p>@Html.DisplayFor(modelItem => item.CreatedAt)</p>
    <p>@Html.DisplayFor(modelItem => item.Content)</p>
    <p>
       Edit
    </p>
}

