@model Tuple<BlogApplication.Post,BlogApplication.Comment,List<BlogApplication.Comment>>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Item1 => Model.Item1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(Item1 => Model.Item1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(Item1 => Model.Item1.Content)
        </dt>

        <dd>
            @Html.DisplayFor(Item1 => Model.Item1.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(Item1 => Model.Item1.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(Item1 => Model.Item1.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(Item1 => Model.Item1.TypeOfPost)
        </dt>

        <dd>
            @Html.DisplayFor(Item1 => Model.Item1.TypeOfPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(Item1 => Model.Item1.AccountEmail)
        </dt>

        <dd>
            @Html.DisplayFor(Item1 => Model.Item1.AccountEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- Comment Form -->

<h2>Create Comment</h2>

@using (Html.BeginForm("Create", "Comments"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Item2 => Model.Item2.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Content")
                @Html.ValidationMessageFor(Item2 => Model.Item2.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@foreach (var item in Model.Item3)
{
    <p>
        <strong>@Html.ActionLink(item.Author.AuthorName, "Detail", "Blog", new { blog = item.Author.BlogName }, null)</strong>
        <br />
        <em>@item.CreatedAt</em>
        <blockquote>
            @item.Content
        </blockquote>
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
