@model IEnumerable<BlogApplication.Post>
@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Author.BlogName
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.CreatedAt
            </td>
        </tr>
        }

</table>